<section class="post">
    <div class="post-header post-header--dw">
        <a href="{{ include.post.url }}"><h3 class="post-header-title">{{ include.post.title }}</h3></a>
        <h4 class="post-header-date"><span class="ordinal">{{ include.post.date | date: "%e" }}</span> {{ include.post.date | date: "%B &#8217;%y" }}</h4>
    </div>
    <div class="post-body">
        {{ include.content }}
    </div>
    <div class="post-footer">
        <ul class="post-footer-tags">
            {% for tag in include.post.tags %}
              <li class="post-footer-tag">#{{ tag }}</li>
            {% endfor %}
        </ul>
        <a href="https://www.google.com/maps/search/{{ include.post.location }}" target="_blank" class="post-footer-location">{{ include.post.location }}</a>
    </div>
</section>