@import "modules/post/variables";
@mixin travelog-post {
    .post {
        margin-bottom: 40px;
    }

    .post-body {
        p { line-height: 18px; }
    }

    .post-header {
        padding-left: 35px;
        min-height: $post-header-height;
        background-repeat: no-repeat;
        background-position: left center;
        background-color: transparent;
        margin-bottom: 15px;
    }

    .post-header--dw {
        background-image: url(/img/watch-1.png);
    }

    .post-header--ar {
        background-image: url(/img/watch-2.png);
    }

    .post-header-title {
        margin-bottom: 5px;
        font-family: $title-font;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;

        // Force default text colour [as post-header is wrapped by a link]
        color: $text-colour;

        // However let the normal hover colour apply
        &:hover { color: $link-colour-over; }
    }

    .post-header-date {
        font-family: $caption-font;
        font-style: italic;
        font-weight: normal;
        color: #444;
        letter-spacing: 1px;
    }

    .post-image {
        font-size: 0;
        margin-bottom: 15px;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    .post-image--split {
        margin-right: -15px;

        img {
            width: calc(50% - 7.5px);
            max-width: 435px;
            margin-right: 15px;
        }

        .post-image-caption {
            margin-right: 15px;
        }
    }

    @media only screen and (max-width : 900px) {
        .post-image--split img {
            width: calc(50% - 15px);
            max-width: none;
        }
    }

    @media only screen and (max-width : 500px) {
        .post-image--split {
            margin-right: 0;

            img {
                margin-right: 0;
                width: 100%;
                display: block;
                margin-bottom: 15px;
            }

            .post-image-caption {
                // Offset margin of full-width split images
                margin-top: -10px;
                margin-right: 0;
            }
        }
    }

    .post-image-caption {
        line-height: 18px;
        vertical-align: middle;
        font-size: 14px;
        font-family: $caption-font;
        font-style: italic;
        color: $caption-colour;
        background: #f6f6f6;
        padding: 15px 20px 13px;
        text-align: center;
        margin-top: 5px;

        // Paragraphs within the caption should have no margin
        p { margin: 0; }

        // Paragraphs following other paragraphs in the caption should have a top margin
        p + p { margin-top: 15px; }
    }

    .post-image-caption-left,
    .post-image-caption-right {
        display: inline-block;
        width: calc(50% - 1.5px);
    }

    .post-image-caption-left {
        text-align: left;
        padding-right: 10px;
    }

    .post-image-caption-right {
        text-align: right;
        padding-left: 10px;
    }

    @media only screen and (max-width : 500px) {
        .post-image-caption-left,
        .post-image-caption-right {
            text-align: left;
            display: block;
            width: 100%;
            padding: 0;
        }

        .post-image-caption-left {
            margin-bottom: 15px;

            &:before {
                content: 'Left';
                text-transform: uppercase;
                font-weight: bold;
                font-style: normal;
                display: block;
            }
        }

        .post-image-caption-right:before {
            content: 'Right';
            text-transform: uppercase;
            font-weight: bold;
            font-style: normal;
            display: block;
        }
    }

    .post-footer {
        margin-top: 35px;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-colour;

        // Both children are floated, so use a clearfix on the parent
        @include clearfix;
    }

    .post-footer-tags,
    .post-footer-location {
        max-width: 50%;
    }

    .post-footer-tags {
        // In order to play nicely with the location element floated to the right of the footer
        float: left;
    }

    .post-footer-tag {
        font-family: $title-font;
        font-weight: bold;
        display: inline;
        text-transform: uppercase;
        font-size: $caption-text-size;
        margin-right: 5px;
        letter-spacing: 1px;
    }

    .post-footer-location {
        font-family: $title-font;
        font-weight: bold;
        font-size: $caption-text-size;
        color: $caption-colour;
        float: right;
        min-height: $post-footer-location-height;
        line-height: $post-footer-location-line-height;
        padding-right: 51px;
        letter-spacing: 1px;
        background: url(/img/icon-location.png) no-repeat right center transparent;

        &:hover {
            color: $link-colour;
        }
    }
}